body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/*navigation bar*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1F2937;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-logo {
    color: #f9faf8;
    font-size: 24px;
}

.nav-item a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding-right: 10px;
    padding-left: 10px;
}

/*section 1*/

.section1 {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 150px 200px;
}

.section1-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: auto;
    margin-right: 60px;
}

.img-placeholder {
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 116, 125);
}

.subtext {
    color: #e5e7eb;
    font-size: 22px;
    margin: 0px 0px 10px 0px;
}

h2 {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
    margin: 0px;
}

.section1-left > button {
    background-color: #3882f6;
    border-radius: 8px;
    color:#f9faf8;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 35px;
}

/*section 2*/

.information-header {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-top: 50px;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    padding: 50px 0px 100px 0px;
}

.img-border {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.section2-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    text-align: center;
}

.section2-info > .subtext {
    font-size: 16px;
    color: #1f2937;
    margin-top: 10px;
}